<div
	class="h-svh w-svw flex-col flex items-center justify-between p-8 gap-10 bg-contain bg-center bg-no-repeat"
	[style.background-image]="'url(' + scene()?.imageURL + ')'"
	[style.background-size]="'100% 100%'"
>
	<h2 class="heading-text text-heading">
		Every choice we make sets a ripple in motion—sooner or later, the waves
		return.
	</h2>
	<div class="flex flex-col justify-between mt-auto">
		<!-- Karma meter -->
		<app-consequence-meter
			type="karma"
			[icon]="karmaIcon"
		/>
		<!-- Emotional core meter -->
		<app-consequence-meter
			type="emotional"
			[icon]="elementIcon"
		/>
		<div
			class="weird-shape consequence-text flex items-center text-heading rounded-md py-2 px-4 text-center mt-20"
		>
			<span class="my-auto">{{ scene()?.title }}</span>
		</div>
	</div>

	<div class="w-full flex justify-end">
		<button
			(click)="storyController.setCurrentSceneId(nextScene)"
			class="material-symbols-outlined continue-btn"
		>
			{{scene()?.links?.[0]?.text}}
		</button>
	</div>
</div>
