:host {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 2.5rem 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: var(--color-heading);
}

h2 {
    text-align: center;
}

.game-currency-container {
    width: 353px;
    height: 52px;
    background-image: url('/images/shapes/weird-shape.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.game-currency-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.ending-name-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.ending-heading {
    margin-top: 50px;
    position: relative;
}

.ending-heading::after {
    position: absolute;
    content: '';
    width: 120%;
    height: 1px;
    background-color: var(--color-border);
    top: -20px;
    left: -10%;

}

.ending-content-div {
    background-image: radial-gradient(circle, #601393, var(--color-primary-1));
    border: 2px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 20px;
    width: auto;
}

.wrapper {
    width: 90%;
    border-radius: 0.5rem;
    /* box-shadow: 0 10px 50px -3px #601393, 0 4px 6px -4px #601393; */
    padding: 6px;
    background-image: linear-gradient(to left, #601393, #44154a);
    background-size: 200% 200%;
}