<img
	width="25"
	height="25"
	[src]="icon.iconURL"
	[style]="getIconPosition()"
	class="absolute z-10 top-[50%] translate-y-[-50%]"
/>

@if (type === "karma") {
<div class="wrapper shadow-sm shadow-[#601393]">
	<div
		class="consequence-div body-text text-body border-r-2 border-b-2 border-l-2 border-border"
	>
		<p>
			Karma: <span class="ml-auto">{{ scene()?.karmaPoints }}</span>
		</p>
	</div>
</div>
} @else if (type === "emotional") {
<div class="wrapper shadow-sm shadow-[#601393] max-width-container">
	<div
		class="consequence-large-div body-text text-body border-r-2 border-b-2 border-l-2 border-border"
	>
		<small class="w-full text-left">
			Emotional Core Imbalance:
			<span class="float-end mr-2">{{ scene()?.emotionalCore }}</span>
			<br />
			<p class="text-wrap">{{ scene()?.subtitle }}</p>
		</small>
	</div>
</div>
}
