<img
	width="25"
	height="25"
	[src]="icon.iconURL"
	[style]="getIconPosition()"
	class="absolute z-10 top-[50%] translate-y-[-50%]"
/>

<div class="wrapper shadow-sm shadow-[#601393]">
	<div
		class="consequence-div body-text text-body border-r-2 border-b-2 border-l-2 border-border"
	>
		@if (type === "karma") {
		<!-- blank line -->
		Karma: {{ scene()?.karmaPoints }}
		<!-- blank line -->
		} @else if (type === "emotional") {
		<small>
			Emotional Core Imbalance:
			<span class="float-end">{{ scene()?.emotionalCore }}</span>
			<br />
			{{ scene()?.subtitle }}
		</small>
		}
	</div>
</div>
