<div class="h-svh w-svw flex flex-col items-center justify-evenly">
	<h1 class="title-text text-center">
		{{ gameState.title }}
	</h1>

	<div
		class="text-center heading-text text-heading w-full px-1 overflow-visible"
	>
		Welcome to the city of <br />
		Vrittapuram!
	</div>

	<div class="flex flex-col gap-8">
		<h3 class="text-center choice-text text-neutral-1">Select Gender</h3>
		@for (gender of genders; track $index) {
		<button
			(click)="selectGender(gender)"
			class="choice-btn choice-text"
		>
			{{ gender }}
		</button>
		}
	</div>
</div>

<style>
	@import "../../../styles.css";
</style>
