<div
	class="h-svh w-svw flex flex-col items-center justify-evenly scene-wrapper fade-in"
>
	<img
		width="80%"
		src="/images/logo.png"
		alt="logo"
	/>

	<div
		class="text-center heading-text text-heading w-full px-1 overflow-visible"
	>
		Welcome to the city of <br />
		Drishtipur!
	</div>

	<div class="flex flex-col gap-8 w-full items-center">
		<h3 class="text-center choice-text text-neutral-1">Select Gender</h3>
		@for (gender of genders; track $index) {
		<button
			(click)="selectGender(gender)"
			class="choice-btn choice-text"
		>
			{{ gender }}
		</button>
		}
	</div>
</div>

<style>
	@import "../../../styles.css";
</style>
