<div
	class="flex flex-col justify-evenly md:justify-center md:gap-16 items-center w-svw h-svh grow"
>
	<div class="w-full text-neutral-1 px-10 mt-2 cursor-pointer">
		<fa-icon
			(click)="navigateBack()"
			[icon]="faArrowLeft"
		/>
	</div>
	<h3 class="text-center heading-text text-heading">Select Your Character</h3>

	<div class="flex justify-evenly flex-wrap gap-5 max-w-[400px] px-4">
		@for (character of characters; track $index) {
		<app-character-profile
			[name]="character"
			(selected)="selectCharacter($event)"
		/>
		}
	</div>
</div>
