/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Setting up font faces */
@font-face {
    font-family: Tungsten;
    src: url('/fonts/Tungsten-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Petita;
    src: url('/fonts/petita/PetitaBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Petita;
    src: url('/fonts/petita/PetitaLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Petita;
    src: url('/fonts/petita/PetitaMedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Nami;
    src: url('/fonts/Nami W04 Bold.ttf') format('truetype');
    font-weight: 700;
}

/* Theme for the game */
@theme {
    /* Colors */
    --color-primary-1: #2f0446;
    --color-primary-2: #d7ac04;
    --color-heading: #3bffe2;
    --color-neutral-1: #e2e1e3;
    --color-neutral-2: #F2F2F7;
    --color-border: #aa8f22;
    /* Fonts */
    --font-heading: Nami, sans-serif;
    --font-title: Amarante, sans-serif;
    --font-body: Petita, sans-serif;
}


/* Custom Directives */
/* Typography */
.body-text {
    @apply font-body text-neutral-1 font-medium text-[16px]
}

.consequence-text {
    @apply font-body text-heading font-medium text-[16px]
}

.choice-text {
    @apply font-body font-medium text-[24px] leading-[32px]
}

.heading-text {
    @apply font-heading font-normal text-3xl leading-[36px] tracking-[0.03em]
}

.title-text {
    @apply font-title text-neutral-1 font-normal text-[57px] leading-[64px]
}


/* Buttons */
.choice-btn {
    @apply w-[90%] min-h-[60px] px-[18px] py-[16px] bg-linear-to-r from-[#FFEFB3] via-[#EFBF04] to-[#A78603] border-[3px] border-[#FFDF75C9] shadow-2xl shadow-[#F2BE10A8] text-primary-1 rounded-xl cursor-pointer font-bold
}

.continue-btn {
    @apply w-9 h-8 bg-linear-to-r from-[#F8DB6B] via-[#EFBF04] to-[#A78603] rounded-lg border-[3px] border-[#FFDF75C9] shadow-2xl text-primary-1
}

.play-btn {
    @apply min-w-[104px] h-[33px] px-2 bg-linear-to-r from-[#FFEFB3] via-[#EFBF04] to-[#A78603] border-[3px] border-[#FFDF75C9] shadow-2xl shadow-[#F2BE10A8] text-primary-1 rounded-[10px] cursor-pointer font-semibold
}

button {
    transition: transform 0.8s ease;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

button:active {
    transform: scale(0.75);
}

/* from-[#FFEFB3] */

.karma {
    @apply bg-gradient-to-r from-red-600 via-yellow-500 to-green-600
}

.emotional {
    @apply bg-gradient-to-r from-green-600 via-yellow-500 to-red-600
}

/* 
.consequence-div {
    @apply absolute right-2 top-[100%] shadow-xl shadow-[#601393] border-[#d7ac04] border-l-2 border-b-2 border-r-2 bg-radial to-primary-1 from-[#601393] rounded-b-lg p-2
} */


@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/icon/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsL7DLI5fGnvot4wWsgTgSE7ag&skey=b8dc2088854b122f&v=v232) format('woff2');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/icon/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsL7D7I7e23spMIoQrklgb0hWRPv8A&skey=b8dc2088854b122f&v=v232) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.scene-wrapper {
    opacity: 0;
    animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}