<div
	class="w-full h-full bg-no-repeat bg-cover flex flex-col items-center justify-between"
	style="background-image: url('{{ imgURL }}');"
>
	<h3 class="heading-text text-center mt-[20px]">The Dharma Dilemma</h3>

	<div
		class="w-xs body-text overflow-visible border-2 border-neutral-1 rounded-xl p-2"
	>
		{{ storyManager.currentPassage()?.cleanText }}
	</div>

	@for (item of storyManager.currentPassage()?.links; track $index) {
	<button
		(click)="storyManager.goToPassage(item.pId)"
		class="choice-btn choice-text mb-2"
	>
		{{ item.linkText }}
	</button>
	}
</div>
